
<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						
						<ul class="icons">
							<li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon style2 fa-500px"><span class="label">500px</span></a></li>
							<li><a href="#" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
							
						</ul>
						{% if user.is_authenticated %}
								<h1>Welcome, {{ user.username }}</h1>
						{% else %}
    						<p>Welcome, new user. Please log in.</p>
						{% endif %}
						
					</header>

				<!-- Main -->
				
					<section id="main">
						
				
					    <section class="thumbnails">
					      
							{% block content %}
								
							
                            {% endblock %}
					
						</section>
					</section>

				<!-- Footer -->
					<footer id="footer">
						
					</footer>

			</div>

			
	</body>
</html>
